@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: #aaa 0px 0px 10px;
  /* transition: {1} {2} {3} {4}
  {1} .-nombre de la propiedad que va ser afectada
  {2}.-tiempo que va durar la transformacion
  {3}.-funcion  o curva del bezier
  {4}.-tiempo muerto antes de iniciar la transformacion
*/
  transition: all 0.5s ease 0s;
}

/* La transición es el tiempo que va a demorar un eleemnto en pasar de un estado a otro 
ejem: si un elelemento:
cambia de color,
crece en ancho, ym/o alto
cambia de posicion; rota, se mueve etc.
*/

.card:hover {
  transform: scale(1.05, 1.05);
  background-color: #b19b79b9;
}
