@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #c1f8cf;
}

/* 
AGREGANDO LOS MEDIA QUERIES
OJO: solo se aplica cuando el diseño se malogre;

los media queries deben ser ordenados en forma descendente, 
primero las resoluciones mas grandes y luego las mas pequeñas
*/

/* 
El media query acontinuación , serán una serie de reglas que se 
aplicaran a la pagina, siempre y cuando el ancho  del viewport 
sea menor o igual a 1024px
*/
@media (max-width: 1024px) {
  body {
    background-color: #4fd3c4;
  }
}

/* Esta regla servirá para colocar estilos cuando el viewport
sea menor o igual a 768px */
@media (max-width: 768px) {
  body {
    background-color: #488fb1;
  }
}

@media (max-width: 480px) {
  body {
    background-color: #533E85;
  }
}