h1, h2, h3 {
    color: white;
}

header {
    background: orangered;
}

nav {
    background: orange;
}

section {
    background: yellow;
}

section > article {
    background: olivedrab;
}

aside {
    background: lightseagreen;
}

footer {
    background: violet;
}